// I always set these to 100%
html, body {
    height : 100%;
    width  : 100%;
}

body {
    font-size: 100% !important;
}

img {
    max-width: 100% !important;
    max-height: 50vh;
    padding: 10px 0px 10px 0px;
}

a {
    color: #e7e87e;
    padding-right: 0 !important;
}

a i {
    color: #d9107a;
}

a:hover, a:active, a:visited{
    color: $headingYellow;
}
.center * {
    text-align: center !important;
}

.titleBox {
    background: #483c6c;
    background-size: cover !important;
    background-position: center !important;
    height: 30vw;
    max-height: 200px;
    .layer {
	width: 100%;
	display: -webkit-flex;
        display: flex;
	-webkit-align-items: center;
        align-items: center;
        justify-content: space-between;

        .squiggle {
            content: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 669 710'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%23fd217b;%7d.cls-2%7bfill:%2350b0c9;%7d.cls-3%7bfill:%2300ff74;%7d.cls-4%7bfill:%23ec90be;%7d.cls-5%7bfill:%23fca083;%7d.cls-6%7bfill:%230cffe1;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eburst version3%3c/title%3e%3cg id='Layer_1' data-name='Layer 1'%3e%3ccircle class='cls-1' cx='119' cy='181' r='27'/%3e%3ccircle class='cls-1' cx='222' cy='574' r='27'/%3e%3ccircle class='cls-1' cx='47' cy='64' r='27'/%3e%3ccircle class='cls-1' cx='199' cy='293' r='27'/%3e%3ccircle class='cls-1' cx='387' cy='118' r='27'/%3e%3ccircle class='cls-1' cx='330' cy='601' r='27'/%3e%3ccircle class='cls-1' cx='222' cy='91' r='27'/%3e%3ccircle class='cls-1' cx='107' cy='679' r='27'/%3e%3ccircle class='cls-1' cx='261' cy='420' r='27'/%3e%3ccircle class='cls-1' cx='276' cy='293' r='27'/%3e%3c/g%3e%3cg id='Layer_2' data-name='Layer 2'%3e%3ccircle class='cls-2' cx='209' cy='197' r='27'/%3e%3ccircle class='cls-2' cx='347' cy='366' r='27'/%3e%3ccircle class='cls-2' cx='330' cy='249' r='27'/%3e%3ccircle class='cls-2' cx='209' cy='37' r='27'/%3e%3ccircle class='cls-2' cx='92' cy='84' r='27'/%3e%3ccircle class='cls-2' cx='173' cy='679' r='27'/%3e%3ccircle class='cls-2' cx='261' cy='531' r='27'/%3e%3ccircle class='cls-2' cx='207' cy='398' r='27'/%3e%3ccircle class='cls-2' cx='134' cy='585' r='27'/%3e%3ccircle class='cls-2' cx='374' cy='558' r='27'/%3e%3ccircle class='cls-2' cx='65' cy='639' r='27'/%3e%3c/g%3e%3cg id='Layer_3' data-name='Layer 3'%3e%3ccircle class='cls-3' cx='395' cy='504' r='27'/%3e%3ccircle class='cls-3' cx='253' cy='135' r='27'/%3e%3ccircle class='cls-3' cx='72.13' cy='145.04' r='27'/%3e%3ccircle class='cls-3' cx='320' cy='145' r='27'/%3e%3ccircle class='cls-3' cx='333' cy='663' r='27'/%3e%3ccircle class='cls-3' cx='387' cy='407' r='27'/%3e%3ccircle class='cls-3' cx='209' cy='345' r='27'/%3e%3ccircle class='cls-3' cx='261' cy='240' r='27'/%3e%3ccircle class='cls-3' cx='288' cy='495' r='27'/%3e%3ccircle class='cls-3' cx='134' cy='129' r='27'/%3e%3cg id='Layer_12' data-name='Layer 12'%3e%3ccircle class='cls-4' cx='360' cy='683' r='27'/%3e%3ccircle class='cls-4' cx='461' cy='346' r='27'/%3e%3ccircle class='cls-4' cx='226' cy='231' r='27'/%3e%3ccircle class='cls-4' cx='366' cy='435' r='27'/%3e%3ccircle class='cls-4' cx='322' cy='317' r='27'/%3e%3ccircle class='cls-4' cx='270' cy='630' r='27'/%3e%3ccircle class='cls-4' cx='361' cy='522' r='27'/%3e%3ccircle class='cls-4' cx='253' cy='450' r='27'/%3e%3ccircle class='cls-4' cx='168' cy='108' r='27'/%3e%3c/g%3e%3c/g%3e%3cg id='Layer_4' data-name='Layer 4'%3e%3ccircle class='cls-5' cx='114' cy='628' r='27'/%3e%3ccircle class='cls-5' cx='161' cy='170' r='27'/%3e%3ccircle class='cls-5' cx='320' cy='420' r='27'/%3e%3ccircle class='cls-5' cx='333' cy='558' r='27'/%3e%3ccircle class='cls-5' cx='374' cy='267' r='27'/%3e%3ccircle class='cls-5' cx='161' cy='56' r='27'/%3e%3ccircle class='cls-5' cx='27' cy='27' r='27'/%3e%3ccircle class='cls-5' cx='197' cy='462' r='27'/%3e%3ccircle class='cls-5' cx='209' cy='605' r='27'/%3e%3ccircle class='cls-5' cx='186' cy='258' r='27'/%3e%3c/g%3e%3cg id='Layer_5' data-name='Layer 5'%3e%3ccircle class='cls-6' cx='303' cy='37' r='27'/%3e%3ccircle class='cls-6' cx='46' cy='117' r='27'/%3e%3ccircle class='cls-6' cx='293' cy='655' r='27'/%3e%3ccircle class='cls-6' cx='414' cy='362' r='27'/%3e%3ccircle class='cls-6' cx='194' cy='517' r='27'/%3e%3ccircle class='cls-6' cx='264' cy='573' r='27'/%3e%3ccircle class='cls-6' cx='308' cy='362' r='27'/%3e%3ccircle class='cls-6' cx='161' cy='224' r='27'/%3e%3c/g%3e%3cg id='Layer_7' data-name='Layer 7'%3e%3ccircle class='cls-6' cx='444.5' cy='116.5' r='17.5'/%3e%3ccircle class='cls-6' cx='457.5' cy='573.5' r='17.5'/%3e%3ccircle class='cls-6' cx='457.5' cy='682.5' r='17.5'/%3e%3ccircle class='cls-6' cx='136.5' cy='561.5' r='17.5'/%3e%3ccircle class='cls-6' cx='484.5' cy='472.5' r='17.5'/%3e%3ccircle class='cls-6' cx='519.5' cy='345.5' r='17.5'/%3e%3ccircle class='cls-6' cx='422.5' cy='215.5' r='17.5'/%3e%3ccircle class='cls-6' cx='387.5' cy='29.5' r='17.5'/%3e%3ccircle class='cls-6' cx='320.5' cy='483.5' r='17.5'/%3e%3ccircle class='cls-6' cx='197.5' cy='126.5' r='17.5'/%3e%3c/g%3e%3cg id='Layer_8' data-name='Layer 8'%3e%3ccircle class='cls-2' cx='266.5' cy='188.5' r='17.5'/%3e%3ccircle class='cls-2' cx='396.5' cy='46.5' r='17.5'/%3e%3ccircle class='cls-2' cx='512.5' cy='558.5' r='17.5'/%3e%3ccircle class='cls-2' cx='360.5' cy='158.5' r='17.5'/%3e%3ccircle class='cls-2' cx='461.5' cy='328.5' r='17.5'/%3e%3ccircle class='cls-2' cx='258.5' cy='336.5' r='17.5'/%3e%3ccircle class='cls-2' cx='403.5' cy='679.5' r='17.5'/%3e%3ccircle class='cls-2' cx='439.5' cy='455.5' r='17.5'/%3e%3ccircle class='cls-2' cx='529.5' cy='215.5' r='17.5'/%3e%3ccircle class='cls-2' cx='354.5' cy='78.5' r='17.5'/%3e%3ccircle class='cls-2' cx='529.5' cy='623.5' r='11.5'/%3e%3ccircle class='cls-2' cx='609.5' cy='612.5' r='11.5'/%3e%3ccircle class='cls-2' cx='506.5' cy='438.5' r='11.5'/%3e%3ccircle class='cls-2' cx='598.5' cy='380.5' r='11.5'/%3e%3ccircle class='cls-2' cx='471.5' cy='262.5' r='11.5'/%3e%3ccircle class='cls-2' cx='456.5' cy='30.5' r='11.5'/%3e%3ccircle class='cls-2' cx='146.5' cy='19.5' r='11.5'/%3e%3ccircle class='cls-2' cx='578.5' cy='505.5' r='11.5'/%3e%3ccircle class='cls-2' cx='559.5' cy='297.5' r='11.5'/%3e%3ccircle class='cls-2' cx='424.5' cy='585.5' r='11.5'/%3e%3c/g%3e%3cg id='Layer_17' data-name='Layer 17'%3e%3ccircle class='cls-5' cx='476.5' cy='172.5' r='11.5'/%3e%3ccircle class='cls-5' cx='621.5' cy='362.5' r='11.5'/%3e%3ccircle class='cls-5' cx='609.5' cy='187.5' r='11.5'/%3e%3ccircle class='cls-5' cx='517.5' cy='650.5' r='11.5'/%3e%3ccircle class='cls-5' cx='582.5' cy='547.5' r='11.5'/%3e%3ccircle class='cls-5' cx='598.5' cy='437.5' r='11.5'/%3e%3ccircle class='cls-5' cx='632.5' cy='297.5' r='11.5'/%3e%3ccircle class='cls-5' cx='602.5' cy='84.5' r='11.5'/%3e%3ccircle class='cls-5' cx='506.5' cy='19.5' r='11.5'/%3e%3c/g%3e%3cg id='Layer_18' data-name='Layer 18'%3e%3ccircle class='cls-3' cx='643.5' cy='286.5' r='11.5'/%3e%3ccircle class='cls-3' cx='605.5' cy='645.5' r='11.5'/%3e%3ccircle class='cls-3' cx='488.5' cy='329.5' r='11.5'/%3e%3ccircle class='cls-3' cx='569.5' cy='63.5' r='11.5'/%3e%3ccircle class='cls-3' cx='521.5' cy='590.5' r='11.5'/%3e%3ccircle class='cls-3' cx='214.5' cy='204.5' r='11.5'/%3e%3ccircle class='cls-3' cx='185.5' cy='574.5' r='11.5'/%3e%3ccircle class='cls-3' cx='468.5' cy='505.5' r='11.5'/%3e%3ccircle class='cls-3' cx='549.5' cy='430.5' r='11.5'/%3e%3ccircle class='cls-3' cx='571.5' cy='222.5' r='11.5'/%3e%3ccircle class='cls-3' cx='531.5' cy='56.5' r='11.5'/%3e%3c/g%3e%3cg id='Layer_14' data-name='Layer 14'%3e%3ccircle class='cls-4' cx='609.5' cy='126.5' r='11.5'/%3e%3ccircle class='cls-4' cx='608.5' cy='460.5' r='11.5'/%3e%3ccircle class='cls-4' cx='616.5' cy='249.5' r='11.5'/%3e%3ccircle class='cls-4' cx='308.5' cy='539.5' r='11.5'/%3e%3ccircle class='cls-4' cx='553.5' cy='652.5' r='11.5'/%3e%3ccircle class='cls-4' cx='492.5' cy='601.5' r='11.5'/%3e%3ccircle class='cls-4' cx='533.5' cy='382.5' r='11.5'/%3e%3ccircle class='cls-4' cx='553.5' cy='91.5' r='11.5'/%3e%3ccircle class='cls-4' cx='264.5' cy='57.5' r='11.5'/%3e%3ccircle class='cls-4' cx='329.5' cy='108.5' r='11.5'/%3e%3ccircle class='cls-4' cx='605.5' cy='553.5' r='11.5'/%3e%3ccircle class='cls-4' cx='571.5' cy='346.5' r='11.5'/%3e%3ccircle class='cls-4' cx='567.5' cy='180.5' r='11.5'/%3e%3c/g%3e%3cg id='Layer_15' data-name='Layer 15'%3e%3ccircle class='cls-1' cx='639.5' cy='526.5' r='11.5'/%3e%3ccircle class='cls-1' cx='471.5' cy='439.5' r='11.5'/%3e%3ccircle class='cls-1' cx='481.5' cy='679.5' r='11.5'/%3e%3ccircle class='cls-1' cx='544.5' cy='531.5' r='11.5'/%3e%3ccircle class='cls-1' cx='517.5' cy='297.5' r='11.5'/%3e%3ccircle class='cls-1' cx='544.5' cy='141.5' r='11.5'/%3e%3c/g%3e%3cg id='Layer_16' data-name='Layer 16'%3e%3ccircle class='cls-6' cx='477.5' cy='525.5' r='11.5'/%3e%3ccircle class='cls-6' cx='320.5' cy='118.5' r='11.5'/%3e%3ccircle class='cls-6' cx='107.5' cy='663.5' r='11.5'/%3e%3ccircle class='cls-6' cx='383.5' cy='531.5' r='11.5'/%3e%3ccircle class='cls-6' cx='311.5' cy='280.5' r='11.5'/%3e%3ccircle class='cls-6' cx='308.5' cy='177.5' r='11.5'/%3e%3ccircle class='cls-6' cx='531.5' cy='108.5' r='11.5'/%3e%3ccircle class='cls-6' cx='567.5' cy='407.5' r='11.5'/%3e%3ccircle class='cls-6' cx='657.5' cy='375.5' r='11.5'/%3e%3ccircle class='cls-6' cx='559.5' cy='585.5' r='11.5'/%3e%3ccircle class='cls-6' cx='571.5' cy='266.5' r='11.5'/%3e%3ccircle class='cls-6' cx='515.5' cy='217.5' r='11.5'/%3e%3ccircle class='cls-6' cx='457.5' cy='64.5' r='11.5'/%3e%3c/g%3e%3cg id='Layer_9' data-name='Layer 9'%3e%3ccircle class='cls-3' cx='368.5' cy='190.5' r='17.5'/%3e%3ccircle class='cls-3' cx='234.5' cy='662.5' r='17.5'/%3e%3ccircle class='cls-3' cx='444.5' cy='612.5' r='17.5'/%3e%3ccircle class='cls-3' cx='360.5' cy='311.5' r='17.5'/%3e%3ccircle class='cls-3' cx='529.5' cy='251.5' r='17.5'/%3e%3ccircle class='cls-3' cx='474.5' cy='399.5' r='17.5'/%3e%3ccircle class='cls-3' cx='422.5' cy='232.5' r='17.5'/%3e%3ccircle class='cls-3' cx='370.5' cy='623.5' r='17.5'/%3e%3ccircle class='cls-3' cx='234.5' cy='420.5' r='17.5'/%3e%3ccircle class='cls-3' cx='491.5' cy='155.5' r='17.5'/%3e%3c/g%3e%3cg id='Layer_10' data-name='Layer 10'%3e%3ccircle class='cls-5' cx='448.5' cy='542.5' r='17.5'/%3e%3ccircle class='cls-5' cx='549.5' cy='460.5' r='17.5'/%3e%3ccircle class='cls-5' cx='498.5' cy='64.5' r='17.5'/%3e%3ccircle class='cls-5' cx='418.5' cy='163.5' r='17.5'/%3e%3ccircle class='cls-5' cx='444.5' cy='645.5' r='17.5'/%3e%3ccircle class='cls-5' cx='395.5' cy='477.5' r='17.5'/%3e%3ccircle class='cls-5' cx='456.5' cy='297.5' r='17.5'/%3e%3ccircle class='cls-5' cx='291.5' cy='99.5' r='17.5'/%3e%3c/g%3e%3cg id='Layer_11' data-name='Layer 11'%3e%3ccircle class='cls-1' cx='319.5' cy='205.5' r='17.5'/%3e%3ccircle class='cls-1' cx='366.5' cy='466.5' r='17.5'/%3e%3ccircle class='cls-4' cx='484.5' cy='522.5' r='17.5'/%3e%3ccircle class='cls-4' cx='491.5' cy='215.5' r='17.5'/%3e%3ccircle class='cls-4' cx='231.5' cy='167.5' r='17.5'/%3e%3ccircle class='cls-4' cx='374.5' cy='240.5' r='17.5'/%3e%3ccircle class='cls-4' cx='168.5' cy='639.5' r='17.5'/%3e%3ccircle class='cls-4' cx='374.5' cy='602.5' r='17.5'/%3e%3ccircle class='cls-4' cx='261.5' cy='375.5' r='17.5'/%3e%3ccircle class='cls-4' cx='315.5' cy='63.5' r='17.5'/%3e%3ccircle class='cls-4' cx='114.5' cy='56.5' r='17.5'/%3e%3ccircle class='cls-4' cx='163.5' cy='542.5' r='17.5'/%3e%3ccircle class='cls-4' cx='417.5' cy='636.5' r='17.5'/%3e%3ccircle class='cls-4' cx='444.5' cy='99.5' r='17.5'/%3e%3ccircle class='cls-4' cx='410.5' cy='302.5' r='17.5'/%3e%3ccircle class='cls-4' cx='431.5' cy='413.5' r='17.5'/%3e%3c/g%3e%3c/svg%3e");
        }
        .squiggleForward {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
        .squiggleBackward {
        }

        .titleCaption * {
            text-align: center;
            overflow: visible;
        }
    }
}

.shade {
    background-color: rgba(0, 0, 0, 0.80);
}

.infoGraphic {
    width: 100%;
    height: auto;
}

.circle {
  width: 100%;
  padding-bottom: 100%;
  margin-top: 24px;
  height: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.lightbulb {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-size: 95% 95%;
    content: url("data:image/svg+xml,%3Csvg width='566px' height='701px' viewBox='0 0 566 701' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 %2845422%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpath d='M0,0 L529,0 L529,679 L0,679 L0,0 Z M172.653617,513 L354.808622,512.341618 L427.780692,277.318757 C435.032104,258.793524 439,238.714771 439,217.742404 C439,124.548548 360.649831,49 264,49 C167.350169,49 89,124.548548 89,217.742404 C89,238.894533 93.0362081,259.137664 100.406495,277.794775 L171.147627,511.852236 L172.653617,513 Z M174,550 C172.343146,550 171,551.343146 171,553 L171,569 C171,570.656854 172.343146,572 174,572 L351,572 C352.656854,572 354,570.656854 354,569 L354,553 C354,551.343146 352.656854,550 351,550 L174,550 Z M174,578 C172.343146,578 171,579.343146 171,581 L171,597 C171,598.656854 172.343146,600 174,600 L351,600 C352.656854,600 354,598.656854 354,597 L354,581 C354,579.343146 352.656854,578 351,578 L174,578 Z M174,520 C172.343146,520 171,521.343146 171,523 L171,539 C171,540.656854 172.343146,542 174,542 L351,542 C352.656854,542 354,540.656854 354,539 L354,523 C354,521.343146 352.656854,520 351,520 L174,520 Z M183,608 C183,620.150264 218.776995,630 263.685663,630 C269.382829,630 274.943149,629.841481 280.309656,629.539855 C317.245358,627.463878 345,618.608868 345,608 L183,608 Z' id='path-1'%3E%3C/path%3E%3ClinearGradient x1='0.499999523%25' y1='101.499999%25' x2='101.499999%25' y2='-0.499999523%25' id='linearGradient-2'%3E%3Cstop stop-color='%23E7E87E' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%2300B2A7' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Forms' transform='translate%28-661.000000, -303.000000%29'%3E%3Cg id='Group' transform='translate%28661.000000, 303.000000%29'%3E%3Cg id='Group-2' transform='translate%2819.000000, 8.000000%29'%3E%3Cg id='Combined-Shape'%3E%3Cuse fill='%23483d68' fill-rule='evenodd' xlink:href='%23path-1'%3E%3C/use%3E%3Cpath stroke='%23483d68' stroke-width='1' d='M0.5,0.5 L0.5,678.5 L528.5,678.5 L528.5,0.5 L0.5,0.5 Z M355.177336,512.840289 L172.485604,513.500611 L170.715831,512.15181 L170.669009,511.996893 L99.9414654,277.97848 C92.4088736,258.910511 88.5,238.586028 88.5,217.742404 C88.5,124.26825 167.078018,48.5 264,48.5 C360.921982,48.5 439.5,124.26825 439.5,217.742404 C439.5,238.411254 435.656448,258.570235 428.258205,277.467019 L355.177336,512.840289 Z M174,549.5 L351,549.5 C352.932997,549.5 354.5,551.067003 354.5,553 L354.5,569 C354.5,570.932997 352.932997,572.5 351,572.5 L174,572.5 C172.067003,572.5 170.5,570.932997 170.5,569 L170.5,553 C170.5,551.067003 172.067003,549.5 174,549.5 Z M174,577.5 L351,577.5 C352.932997,577.5 354.5,579.067003 354.5,581 L354.5,597 C354.5,598.932997 352.932997,600.5 351,600.5 L174,600.5 C172.067003,600.5 170.5,598.932997 170.5,597 L170.5,581 C170.5,579.067003 172.067003,577.5 174,577.5 Z M174,519.5 L351,519.5 C352.932997,519.5 354.5,521.067003 354.5,523 L354.5,539 C354.5,540.932997 352.932997,542.5 351,542.5 L174,542.5 C172.067003,542.5 170.5,540.932997 170.5,539 L170.5,523 C170.5,521.067003 172.067003,519.5 174,519.5 Z M182.5,607.5 L345.5,607.5 L345.5,608 C345.5,618.89891 318.067306,627.91847 280.337714,630.039068 C274.900808,630.34465 269.33019,630.5 263.685663,630.5 C218.58601,630.5 182.5,620.631344 182.5,608 L182.5,607.5 Z'%3E%3C/path%3E%3C/g%3E%3Cpath d='M169.653617,513 L168.147627,511.852236 L97.406495,277.794775 C90.0362081,259.137664 86,238.894533 86,217.742404 C86,124.548548 164.350169,49 261,49 C357.649831,49 436,124.548548 436,217.742404 C436,238.714771 432.032104,258.793524 424.780692,277.318757 L351.808622,512.341618 L169.653617,513 Z M171,550 L348,550 C349.656854,550 351,551.343146 351,553 L351,569 C351,570.656854 349.656854,572 348,572 L171,572 C169.343146,572 168,570.656854 168,569 L168,553 C168,551.343146 169.343146,550 171,550 Z M171,578 L348,578 C349.656854,578 351,579.343146 351,581 L351,597 C351,598.656854 349.656854,600 348,600 L171,600 C169.343146,600 168,598.656854 168,597 L168,581 C168,579.343146 169.343146,578 171,578 Z M171,520 L348,520 C349.656854,520 351,521.343146 351,523 L351,539 C351,540.656854 349.656854,542 348,542 L171,542 C169.343146,542 168,540.656854 168,539 L168,523 C168,521.343146 169.343146,520 171,520 Z M180,608 C221.902387,608 253.329177,608 274.28037,608 C289.329177,608 311.902387,608 342,608 C342,618.608868 314.245358,627.463878 277.309656,629.539855 C271.943149,629.841481 266.382829,630 260.685663,630 C215.776995,630 180,620.150264 180,608 Z' id='Combined-Shape' stroke='url%28%23linearGradient-2%29' stroke-width='10'%3E%3C/path%3E%3C/g%3E%3Crect id='Rectangle-3' stroke='%23483d68' stroke-width='20' x='10' y='10' width='546' height='681'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.teamMemberInfo {
    text-align: center;
}

.content {
    // Any overflow other than 'visible' triggers a block formatting context.
    // BFCs don't allow descendant floats to escape them, nor do they allow
    // sibling/ancestor floats to intrude into them. The net effect here is that
    // the floated div will do it's thing, then the second div will be an
    // ordinary block, taking up all available width except that occupied by the
    // float. This trick is used in conjunction with #navigation{float: left;}
    // see: http://stackoverflow.com/questions/1260122/expand-div-to-take-remaining-width
    background-color: $contentBG;
    min-height: 100%;
    overflow: hidden;
    color: white;
    margin-top: 52px;

    .tableofcontents {
        list-style: none;
        margin-top: 20px;
        max-height: 100%;
        overflow-y: scroll;
        // position: fixed;
        // right: 0;
        // width: 400px;

        li {
            a {
                border-left: $sidebarBorderThickness solid transparent;
                color: $sidebarInactiveColor;
                padding-left: $sidebarPaddingLevel1;
                text-decoration: none;
            }

            ul {
                display: none;
                list-style: none;
                padding: 0;

                li {
                    a {
                        padding-left: $sidebarPaddingLevel2;
                    }

                    ul {
                        display: none;

                        li a {
                            padding-left: $sidebarPaddingLevel3;
                        }
                    }

                    &:hover {
                        a {
                            border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor2, 0.5);
                        }
                    }
                }
            }

            &:hover {
                a {
                    border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor1, 0.5);
                }

                ul {
                    display: block;

                    li {
                        a {
                            border-left: $sidebarBorderThickness solid transparent;
                        }

                        ul {
                            display: none;
                        }

                        &:hover {
                            a {
                                border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor2, 0.5);
                            }

                            ul {
                                display: block;

                                li {
                                    a {
                                        border-left: $sidebarBorderThickness solid transparent;
                                        color: $sidebarInactiveColor;
                                    }

                                    &:hover {
                                        a {
                                            border-left: $sidebarBorderThickness solid rgba($sidebarBorderColor3, 0.5);
                                        }
                                    }

                                    &.active {
                                        a {
                                            border-left: $sidebarBorderThickness solid $sidebarBorderColor;
                                            color: $sidebarActiveColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.active {
                a {
                    border-left: $sidebarBorderThickness solid $sidebarBorderColor1;
                    color: $sidebarActiveColor;
                }

                ul {
                    display: block;

                    li {
                        a {
                            border-left: $sidebarBorderThickness solid transparent;
                            color: $sidebarInactiveColor;
                        }

                        ul {
                            display: none;
                        }

                        &:hover {
                            ul {
                                display: block;
                            }
                        }

                        &.active {
                            a {
                                border-left: $sidebarBorderThickness solid $sidebarBorderColor2;
                                color: $sidebarActiveColor;
                            }

                            ul {
                                display: block;

                                li {
                                    a {
                                        border-left: $sidebarBorderThickness solid transparent;
                                        color: $sidebarInactiveColor;
                                    }

                                    &.active {
                                        a {
                                            border-left: $sidebarBorderThickness solid $sidebarBorderColor3;
                                            color: $sidebarActiveColor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .content-main {
        // float: left;
        // @include box-shadow(0px 2px 4px 2px rgba(0, 0, 0, 0.5));
	max-width: 1200px;
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif !important;
	font-weight: 100;
        margin: 0 auto;
	margin-top: 24px;
        // max-width: 640px;
        padding: 20px;
    }
    
    .content-main hr {
	background-color: transparent;
    	height: auto;
	border: 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
    }
    
    .content-main hr:after {
        content: url("data:image/svg+xml,%3Csvg width='100%' height='auto' viewBox='0 0 1442 160' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 %2845422%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3ClinearGradient x1='0%25' y1='0%25' x2='101.999998%25' y2='100.999999%25' id='linearGradient-1'%3E%3Cstop stop-color='%23E7E87E' offset='0%25'%3E%3C/stop%3E%3Cstop stop-color='%2300B2A7' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg id='Landing-Page' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M1,59.6173451 C1,59.6173451 295.509979,91.4413881 342.731118,59.6173451 C389.952258,27.7933022 472.882779,35.282972 504.436564,110.819224 C561.06072,246.371155 645.487254,23.3509153 683.243627,59.6173451 C721,95.8837749 794.86283,-33.6006721 863.365146,16.8174403 C931.867461,67.2355526 900.443752,122.337233 964.605625,136.9875 C1028.7675,151.637768 1144.91199,57.7300361 1191.63678,87.4441804 C1238.36158,117.158325 1354.20685,61.9640361 1375.23613,59.6173451 C1389.25566,58.0528845 1411.17695,58.0528845 1441,59.6173451' id='Path-2' stroke='url%28%23linearGradient-1%29' stroke-width='10'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	width: 100%;
    }

    p {
         margin-bottom: 8px;
	 font-size: 16px !important;
    }

    h1 {
	font-family: 'Lato', sans-serif !important;
	font-size: 24px !important;
        color: #EC90BE;
	padding: 0 !important;
	text-align: center;
    }

    h2 {
	font-family: 'Lato', sans-serif !important;
        margin-top: 12px;
        margin-bottom: 18px;
	font-size: 18px !important;
	color: $headingYellow;
	padding: 0 !important;
	text-align: center;
    }

    .content-main .brand {
	position: absolute;
	height: fit-content;
	max-height: 400px;
	top: -56px;
	bottom: 112px;
	left: 0;
	right: 0;
	margin: auto;
    	width: 80%;
	max-width: 900px;
    }
}

// Navigation styles
// We have a ul of li > a's, some of which may contain another ul of li > a's

.navbar {
    // margin-top:16px;
    background-color: #d9107a !important;
    font-size: 16px;
}
.navbar ul {
     margin-top: 0px;
}
.navbar .dropdown-item {
     color: inherit !important;
     padding-right: 24px !important;
}

.image-wrapper {
    text-align: center;

    img {
        @include border-radius(5px);
        // @include box-shadow(0px 2px 4px 2px rgba(0, 0, 0, 0.5));
        background-color: $imageBG;
        // border-bottom: 2px solid darken($grey-200, 15%);
        height: auto;
        border: 5px solid $imageBG;
        // padding: 5px;
        width: 50%;
	}
}

.integratedPractices {
    padding-bottom: 24px;
}
.footer {
    padding: 20px;
    background: #efefef;
    text-align: center !important;
    color: #d9107a;
    h2 {
	font-family: 'Lato', sans-serif !important;
	font-size: 30px !important;
	padding: 0 !important;
	text-align: center;
    }
    p {
	text-align: center !important;
    }
}

.icons {
    display: inline-flex;
    padding: 24px 0 !important;
    h2 {
    	padding: 0 18px !important;
    }
}
table {
    color: white !important;
}

#game {
    color: black;
    position: relative;
}

@media only screen and (min-width: 992px) {
    .titleBox {
        max-height: 400px;
    }
    .content {
	margin-top: 56px;
        .content-main {
            padding-right: 80px;
            padding-left: 80px;
        }

	h1 {
	    font-size: 54px !important;
	}

	h2 {
	    font-size: 32px !important;
	}
    }
}

.content li {
    font-size:16px;
}
